.footer-text
	display block

	&__p
		position relative
		text-transform uppercase
		color #8f7d5a

	&__p-company
		position relative
		text-transform uppercase
		color #8f7d5a

	&__p-year
		position relative
		text-transform uppercase
		color #8f7d5a

@media only screen and (max-width: 959px)
	.footer-text
		display block

		&__p
			font 2.45vw FuturaBookCyr, 'Arial'

		&__p-company
			font 3.15vw FuturaBookCyr, 'Arial'

		&__p-year
			font 2.45vw FuturaBookCyr, 'Arial'

@media only screen and (min-width: 960px)
	.footer-text
		display block

		&__p
			font 9.59px FuturaBookCyr, 'Arial'

		&__p-company
			font 12.33px FuturaBookCyr, 'Arial'

		&__p-year
			font 9.59px FuturaBookCyr, 'Arial'

@media only screen and (min-width: 1280px)
	.footer-text
		display block

		&__p
			top 0

		&__p-company
			top -2px

		&__p-year
			top -1px

@media only screen and (min-width: 1920px)
	.footer-text
		display block

		&__p
			top -1px
			font 11.07px FuturaBookCyr, 'Arial'

		&__p-company
			top -1px
			font 14.23px FuturaBookCyr, 'Arial'

		&__p-year
			top -1px
			font 11.07px FuturaBookCyr, 'Arial'