.body
	display flex
	flex-direction row-reverse
	justify-content space-between

@media only screen and (max-width: 959px)
	.body
		margin-top 45.940933086%
		display block

@media only screen and (min-width: 960px)
	.body
		margin-top 4.971532060%

@media only screen and (min-width: 1280px)
	.body
		margin-top 4.612111970%

@media only screen and (min-width: 1920px)
	.body
		margin-top 66px