.h2-app
	display block

	&__title
		position relative
		text-transform uppercase
		color #d06c3f


@media only screen and (max-width: 959px)
	.h2-app
		display block

		&__title
			margin-top -3.566842630%
			font 11.4vw FuturaBookCyr, 'Arial'
			letter-spacing .03vw

		&__desktop
			display none

@media only screen and (min-width: 960px)
	.h2-app
		display block

		&__title
			left -5px
			margin-top -10px
			font 41.06px FuturaBookCyr, 'Arial'
			letter-spacing .17px


@media only screen and (min-width: 1280px)
	.h2-app
		display block

		&__title
			left 3px
			font 47.96px FuturaBookCyr, 'Arial'
			// letter-spacing .1px


@media only screen and (min-width: 1920px)
	.h2-app
		display block

		&__title
			left -2px
			margin-top -13px
			font 61.51px FuturaBookCyr, 'Arial'
			// letter-spacing .1px
