.h3-prototype
	position relative
	display block
	text-transform uppercase
	color #6f498c

@media only screen and (max-width: 959px)
	.h3-prototype
		margin-top -4.422884862%
		font 9.83vw FuturaBookCyr, 'Arial'

@media only screen and (min-width: 960px)
	.h3-prototype
		left -5px
		margin-top -10px
		font 35.62px FuturaBookCyr, 'Arial'

@media only screen and (min-width: 1280px)
	.h3-prototype
		left 3px
		margin-top -14px
		font 41.65px FuturaBookCyr, 'Arial'

@media only screen and (min-width: 1920px)
	.h3-prototype
		left -1px
		margin-top -17px
		font 53.37px FuturaBookCyr, 'Arial'

