font-fase(FuturaLightCyr, FuturaLightCyr, futuralightc-webfont)
font-fase(FuturaBookCyr, FuturaBookCyr, futurabookc-webfont)
font-fase(FuturaMediumCyr, FuturaMediumCyr, futuramediumc-webfont)
font-fase(FuturaBoldCyr, FuturaBoldCyr, futura-bold_allfont)