.main
	position relative
	display block
	min-height 100vh
	retinaBackground(fone-1980, $ext = 'jpg')

@media only screen and (max-width: 959px)
	.main
		retinaBackground(fone-959, $ext = 'jpg')

@media only screen and (min-width: 960px)
	.main
		padding-bottom 195px

@media only screen and (min-width: 1280px)
	.main
		padding-bottom 195px

@media only screen and (min-width: 1920px)
	.main
		padding-bottom 255px