.body-serveice
	position relative
	padding-top 12px
	display flex
	text-decoration none
	justify-content space-between

	&__line
		position relative
		width 2px
		background #458751

	&__wrapp-text
		position relative
		width 98%

	&__mail
		position relative
		display block
		text-decoration none
		text-transform uppercase
		color #458751

	&__mail:hover
		color #a52615

	&__tell
		position relative
		display block
		text-decoration none
		text-transform uppercase
		color #458751

	&__tell:hover
		color #a52615

@media only screen and (max-width: 959px)
	.body-serveice
		padding-top 12.840633471%
		padding-bottom 12.983307176%

		&__line
			left 1%
			margin-top 1%
			width .5vw
			height 11.5vw

		&__mail
			top 0
			left 5%
			font 4.8vw FuturaBookCyr, 'Arial'

		&__tell
			top 9%
			left 5%
			font 6.4vw FuturaBookCyr, 'Arial'

@media only screen and (min-width: 960px)
	.body-serveice
		left -2px
		width 35%

		&__line
			top 3px
			height 34px

		&__mail
			top 2px
			left 8px
			font 13.89px FuturaBookCyr, 'Arial'
			letter-spacing .2px

		&__tell
			top 3px
			left 7px
			font 20.65px FuturaBookCyr, 'Arial'
			letter-spacing -.7px

@media only screen and (min-width: 1280px)
	.body-serveice
		left 5px
		width 35%

		&__line
			top 3px
			height 37px

		&__mail
			top 2px
			left 8px
			font 14.69px FuturaBookCyr, 'Arial'
			letter-spacing .1px

		&__tell
			top 3px
			left 7px
			font 21.83px FuturaBookCyr, 'Arial'
			letter-spacing -.8px

@media only screen and (min-width: 1920px)
	.body-serveice
		left 2px
		width 35%

		&__line
			top 8px
			height 47px

		&__mail
			top 2px
			left 8px
			font 18.84px FuturaBookCyr, 'Arial'
			letter-spacing .3px

		&__tell
			top 6px
			left 7px
			font 28px FuturaBookCyr, 'Arial'
			letter-spacing -1.1px
