.h1-site
	display block

	&__title
		position relative
		text-transform uppercase
		color #458751

@media only screen and (max-width: 959px)
	.h1-site
		display block

		&__title
			margin-top 10.55785418%
			font 8vw FuturaBookCyr, 'Arial'

		&__desktop
			display none

@media only screen and (min-width: 960px)
	.h1-site
		display block

		&__title
			left -4px
			margin-top 28px
			font 28.71px FuturaBookCyr, 'Arial'
			letter-spacing .1px


@media only screen and (min-width: 1280px)
	.h1-site
		display block

		&__title
			left 4px
			margin-top 29px
			font 33.53px FuturaBookCyr, 'Arial'
			letter-spacing .1px


@media only screen and (min-width: 1920px)
	.h1-site
		display block

		&__title
			left 0
			margin-top 40px
			font 43.01px FuturaBookCyr, 'Arial'
			letter-spacing normal
