.header-title
	display block

	&__bisnes-text
		position relative
		color #6f498c

@media only screen and (max-width: 959px)
	.header-title
		position relative
		left -1%
		display block

		&__bisnes-text
			display none

@media only screen and (min-width: 960px)
	.header-title
		display block
		width 63%

		&__bisnes-text
			left -2px
			font 18.04px FuturaLightCyr, 'Arial'

@media only screen and (min-width: 1280px)
	.header-title
		display block
		width 66%

		&__bisnes-text
			top -3px
			left 5px
			font 21.07px FuturaLightCyr, 'Arial'


@media only screen and (min-width: 1920px)
	.header-title
		display block
		width 67.5%

		&__bisnes-text
			top 0
			left 3px
			font 27.02px FuturaLightCyr, 'Arial'