.holder
	position relative
	margin 0 auto

@media only screen and (max-width: 959px)
	.holder
		padding-right 14%
		padding-left 13%
		max-width 959px

@media only screen and (min-width: 960px)
	.holder
		padding-right 6%
		padding-left 6%
		max-width 1280px

@media only screen and (min-width: 1280px)
	.holder
		padding-right 8%
		padding-left 9%
		max-width 1920px

@media only screen and (min-width: 1920px)
	.holder
		padding-right 12%
		padding-left 13%
		max-width 2920px
