include /blocks/icon/icon

mixin footer-ico()
	+b.footer-ico&attributes(attributes)
		block
		+e('a').fa-a&attributes({'href': 'https://www.facebook.com/humaninterfacepro', 'target': '_blank'})
			+icon('fb-default').fb
		+e('a').inst-a&attributes({'href': 'https://www.instagram.com/humaninterface.pro', 'target': '_blank'})
			+icon('inst-default').inst
