.footer-ico
	position relative
	display flex
	cursor pointer
	justify-content space-between

	&__fb
		position relative
		display block
		fill #8e7c58

	&__inst
		position relative
		display block
		fill #8e7c58

.footer-ico__fb:hover
	fill #a52615

.footer-ico__inst:hover
	fill #a52615

@media only screen and (max-width: 959px)
	.footer-ico
		width 20.2vw

		&__fb
			width 8.5vw
			height 8.55vw

		&__inst
			left -.6vw
			width 8.51vw
			height 8.55vw

@media only screen and (min-width: 960px)
	.footer-ico
		width 81px

		&__fb
			width 38px
			height 38px

		&__inst
			left 5px
			width 38px
			height 38px

@media only screen and (min-width: 1280px)
	.footer-ico

		&__fb
			top -1px

		&__inst
			top -1px

@media only screen and (min-width: 1920px)
	.footer-ico
		top 2px
		width 93px

		&__fb
			width 40px
			height 42px

		&__inst
			right 2px
			width 40px
			height 42px
