.footer
	position absolute
	left 50%
	display flex
	border-top 2px solid #8f7d5a
	justify-content space-between

@media only screen and (max-width: 959px)
	.footer
		position static
		margin 0 auto
		padding-top 5.83941605%
		padding-right 3%
		padding-left 4%
		padding-bottom 6.673618352%
		width 73vw
		border-color #a1906d
		border-top-width .4vw

@media only screen and (min-width: 960px)
	.footer
		bottom 0
		margin-left -165px
		padding 13px 32px 4.7%
		width 330px

@media only screen and (min-width: 1280px)
	.footer
		padding 14px 32px 4.7%
		width 330px

@media only screen and (min-width: 1920px)
	.footer
		margin-left -192px
		padding 15px 39px 4%
		width 384px
